li {
    display: inline;
     margin-right: 10px;
    }
li {font-family: Verdana, Geneva, Tahoma, sans-serif}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:link {color: black}
a:visited {color: black}
div {text-align: center}